root = true
[*]
end_of_line = lf
insert_final_newline = true

[*.{js,xml,java,css,mustache,html}]
charset = utf-8

[pom.xml]
indent_style = space
indent_size = 2

[*.xml]
indent_style = tab

[*.java]
indent_style = tab
indent_size = 4
max_line_length = 120
continuation_indent_size = 8

# Property files shockingly should be latin1
[*.properties]
charset = latin1
