*~
/build
/target
/static-mustache/build
/static-mustache/target
/static-mustache-examples/build
/static-mustache-examples/target
/.nb-gradle
/.gradle
/text-templates/target/
.project
.settings
.classpath
.factorypath
tmp
