before child
{{< child.mustache}}
This first sentence should be not seen.
{{$message}}PARAM message from parent: Surprise {{message}}!{{/message}}
This last sentence should be not seen.
{{/child.mustache}}
after child