:root {
  --link-color: #4A6782;
}

a.toc-link {
  color: var(--link-color);
}

ol { counter-reset: item }
li{ display: block }
li:before { content: counters(item, ".") " "; counter-increment: item }

