<html>
  <head>
  <title>Blog</title>
  </head>
  <body>

{{container}}

<id>{{container.id}}</id>

{{^container.id}}
<h1>Hello missing id</h1>
{{/container.id}}

{{container.csrf}}

{{#blog.posts}}
<post>
{{title}}

<id>{{meta.id}}</id>

<version>
{{meta.id.version}}
</version>
</post>
{{/blog.posts}}

  </body>
</html>