CHILD start
{{< grand-child.mustache}}
{{$message}}PARAM message from child.mustache{{/message}}
{{/grand-child.mustache}}
{{$message}}CHILD local message{{/message}}
{{$noreplace}}no replace{{/noreplace}}
CHILD end