{{myBoolean}}

<name>
{{#name}}
{{.}}
{{/name}}
</name>

<inverted-name>
{{^name}}
no show name
{{/name}}
</inverted-name>

<name>
{{name}}
</name>

<child.name>
{{#child.name}}
{{.}}
{{/child.name}}
</child.name>

<inverted-child.name>
{{^child.name}}
no show child name
{{/child.name}}
</inverted-child.name>