{{#name}}
Name: {{.}}, Name Length is {{length}}
{{/name}}
Age: {{  age  }}

Name HTML: {{& name }}

Card:{{! Card can be custom renderable object }}

{{#cardEnabled}}

{{ card }}

{{/cardEnabled}}

{{#array1}}
 . {{.}}{{/array1}}

{{#array}}
 * {{.}}{{/array}}
{{^array}}
 No data in array{{/array}}
