{{#name}}
Name: {{.}}, Name Length is {{length}}
{{/name}}
Age: {{  age  }}

Name HTML: {{& name }}

{{#array1}}
 . {{.}}{{/array1}}

{{#array}}
 * {{.}}{{/array}}
{{^array}}
 No data in array{{/array}}

{{#list1}}
  * {{value}}
{{/list1}}
